.capturer-list li {
  list-style-type: none;
  margin-right: 30px;
  float: left;
  /*height: 150px;*/
}

.capturer-list img {
  border: 1px solid #F7F7F7;
  height: 98px;
  width: 150px;
}

.capturer-list img:hover {
  border: 1px solid black;
}

.capturer-list span {
  display: block;
  height: 22px;
  width: 150px;
}

.cr {
  overflow: auto;
}
